body{
    background-image: url(background_IMG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 5rem;
    color:rgb(101, 64, 86);
}